<h1> New Link </h1>
<%= form_for @link, url: links_path do |f| %>
<p> Title </p>
<%= f.text_field :title %>
<p> Url </p>
<%= f.text_field :url %>
<br />
<%= f.submit "Create Link" %>
<% end %>

<%= link_to("Home", links_path) %>